.header {
  padding:10px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px rgb(234, 234, 234);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 10;
}

.search::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 52px;
  width: 1px;
  height: 28px;
  background-color: rgba(22, 24, 35, 0.12);
}

.search:focus-within{
  border-color: rgba(22, 24, 35, 0.12);
}
