.products__main {
    min-height: 100vh;
}

.home__main-content {
  padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .pagination-button {
    margin: 0 0.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
    }

    &.active {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
    }
  }
}
  