.product-card {
  width: calc(100% / 3);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 8/7;
  }

  p {
    text-align: center;

    &.name {
      
      margin: 10px 0;
    }

    &.price {
      font-weight: 500;
      color: #bc0000;
    }
  }

  button {
    outline: none;
    background-color: transparent;
    border: none;
    position: relative;
    color: #0a5d5d;
    cursor: pointer;
    margin-top: 10px;

    &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: #0a5d5d;
      position: absolute;
      top: 120%;
      right: 10px;
      left: 10px;
      transition: all 0.3s;
    }

    &:hover {
      color: #446084;
      &::after {
        left: 0;
        right: 0;
        background-color: #446084;
      }
    }
  }
  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    .star {
      font-size: 20px;
      color: gray;
  
      &.filled {
        color: yellow;
      }
  
      &.half {
        color: yellow;
        opacity: 0.5;
      }
    }
  }
}